.last-news {
  grid-area: lastNews;
  background-color: var(--clr_grey_300);
  color: #fff;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  padding-block: 30px;
  padding-inline: 20px;

  .last-news__title {
    font-size: 33px;
    font-weight: 700;
    color: var(--clr_orange);
    margin-bottom: 6px;
  }

  .item {
    &:not(:last-child) {
      padding-bottom: 34px;
      border-bottom: 1px solid var(--clr_grey_200);
    }
  }

  .item__title {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 16px;
    @include link-hover(var(--clr_orange));
  }

  .item__description {
    color: var(--clr_grey_100);
  }
}
