.promote-article {
  grid-area: promote;
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  .promote-article__content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
}

@media (min-width: 1024px) {
  .promote-article {
    .promote-article__content {
      display: grid;
      grid-template-columns: 1fr 1fr;

      h1 {
        grid-column: 1/2;
      }

      button {
        grid-column-start: 2;
      }
    }
  }
}
