.showcase {
  grid-area: promote;
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  .showcase__content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  h1.showcase__title {
    /* 50px @ 375px increasing to 63px @ 1200px */
    font-size: clamp(50px, calc(3.125rem + ((1vw - 3.75px) * 1.5758)), 63px);
    /* Safari resize fix */
    min-height: 0vw;
    font-weight: 800;
  }
}

@media (min-width: 1024px) {
  .showcase {
    .showcase__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 60px;

      h1 {
        grid-column: 1/2;
        grid-row: 1/3;
      }

      button {
        grid-column-start: 2;
        align-self: flex-end;
      }
    }
  }
}
