.topics {
  grid-area: topArticle;
  display: flex;
  column-gap: 55px;
  row-gap: 32px;
  flex-wrap: wrap;

  .item {
    flex-grow: 1;
    flex-basis: 330px;
    display: flex;
    column-gap: 20px;
  }

  .item__content {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  .item__number {
    color: var(--clr_grey_100);
    font-size: 30px;
    font-weight: 700;
  }

  .item__title {
    font-weight: 800;
    @include link-hover(var(--clr_red));
  }
}
