/* Base */
html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: var(--font_primary);
  padding-block: 30px 80px;
}

@media (min-width: 1300px) {
  body {
    height: 100vh;
    display: grid;
    place-content: center;
    padding-block: 0;
  }
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

a,
li {
  cursor: pointer;
}

p {
  color: var(--clr_grey_200);
  line-height: 1.6;
}

// Titles
.item__title {
  cursor: pointer;
}
