@mixin grid-container {
  display: grid;
  grid-template-columns: min(90vw, 1120px);
  place-content: center;
}

@mixin link-hover($color) {
  transition: color 0.3s ease;

  @media (hover: hover) {
    &:hover {
      color: $color;
    }
  }
}
