#site-header {
  width: min(90vw, 1120px);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* 30px @ 375px increasing to 56px @ 1024px */
  margin-bottom: clamp(30px, calc(1.875rem + ((1vw - 3.75px) * 4.0062)), 56px);
  /* Safari resize fix */
  min-height: 0vw;
}

@media (min-width: 1024px) {
  button.nav-toggle {
    display: none;
  }
}
