#site-header {
  width: min(90vw, 1120px);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 30px;
}

@media (min-width: 1024px) {
  button.nav-toggle {
    display: none;
  }
}
