#main {
  width: min(90vw, 1120px);
  margin-inline: auto;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  row-gap: 65px;
}

@media (min-width: 1024px) {
  #main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "promote lastNews"
      "topArticle topArticle";
    column-gap: 30px;
    row-gap: 70px;
    margin-bottom: 0;
  }
}
