<template id="promote-article-template">
    <style>

    </style>

    <div class="promote-article">
        <img class="promote-article__img" src="../assets/images/image-web-3-mobile.jpg" alt="image" />
        <h1 class="pormote-article__title">The Bright Future of Web 3.0?</h1>
        <p class="promote-article__content">
            We dive into the next evolution of the web that claims to put the
            power of the platforms back into the hands of the people. But is it
            really fulfilling its promise?
        </p>
        <button class="btn promote-article__link">Read more</button>
    </div>
    <!-- .promoto-article -->

</template>